.Cell {
  height: 100px;
  width: 100px;
  background-color: rgb(45, 11, 214);
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid black; /* Adding border property */
}

.Cell-lit {
  background-color: white;
}